
/* 노멀라이징 */
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
}
/* 라이브러리 */
.cell{
    float:left;
}
.row{
    clear:both;
    display: block;
    content:"";
}
/* 스타일 */
.nav-bar{
     margin: 0 auto;
     background-color: khaki;
     width:400px;
     height: 45px;
}
.nav-bar>li{
    width:25%;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    line-height: 43px;
    
}
.nav-bar>li>ul{
    display: none;
    position: absolute;
}
.nav-bar > li:hover >ul{
    display: block;
}